.container {
    display: flex;
    flex-direction: column;
    text-align: center;

    img {
        max-width: 250px;
        width: 262.5px;
        height: 262.5px;
        align-self: center;
        background-color: var(--project-card-bg);
    }

    a {
        width: fit-content;
        text-decoration: none;
        color: #222;
        transition: transform 200ms case-in-out;
    }

    a:hover {
        transform: scale(1.05);
    }

    .projectsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        word-wrap: break-word; /* Ensures long words break */
        text-align: center; /* Optional: Centers the text */
        max-width: 100%; /* Prevents overflow */
      }

    @media (width >= 800px) {
        .projectsContainer {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 0 30px;
        }
    }
}